
.min_div {
  margin-left:200px ;
  border: 2px solid blue;
  margin-right: 400px;
}
.addItem {
  margin-left:50px;
  margin-bottom: 20px;
}
h2 {
  margin-left: 30px;
}
.eachItem {
  
  margin: 50px;
}